<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/@codingnepal -->
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sidebar Menu | CodingNepal</title>
  <link rel="stylesheet" th:href="@{/css/side_bar.css}">
  <link rel="stylesheet" th:href="@{/css/page_with_sidebar_style.css}">
  <!-- Linking Google fonts for icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0">
</head>
<body>
  <div class="container">
    <!-- Sidebar -->
    <div th:replace="fragments/sidebar :: side-bar-fragment"></div>
    <!-- Main content -->
    <main class="main-content">
      <h1>Home Page</h1>
      <br>
      <p>Welcome to the home page of the Binary Adder application 🤓!</p>
      <br>
      <p>Here you can find various tools and resources to help you understand and work with binary addition algorithm 🧩</p>
      <br>
      <p>Feel free to explore the different sections of the sidebar and access <b>handbooks</b>, <b>real adder circuit</b>, <b>logic explanations</b>, and more! 🚀</p>
      <br>
      <p><b><i>Let's get started, or should I say, ADD! 🎉</i></b></p>
    </main>
  <!-- Script -->
  <script th:src="@{/js/home_page_script.js}"></script>
  <script th:src="@{/js/side_bar.js}"></script>
</body>
</html>